.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.instruction-container {
  display: flex;
  width: 95vw;
  justify-content: space-evenly;
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-weight: 300;
  font-size: 2rem;
  align-self: center;
  margin: 50px;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 35vh;
  border-radius: 5px;
  font-weight: 300;
  font-size: 1.25rem;
}

.players-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px;
}

.players {
  display: flex;
  justify-content: space-between;
}

label {
  font-size: 20px;
  margin: 5px 0;
  font-weight: 300;
}

.username {
  padding: 10px;
}

.submitBtn {
  margin-left: 10px;
  border-radius: 5px;
  height: 30px;
  width: 125px;
  align-self: center;
}

.battleBtn {
  margin: 20px;
  border-radius: 5px;
  background-color: black;
  color: bisque;
  height: 35px;
  width: 125px;
  align-self: center;
}
