.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 500px;
  background-color: bisque;
  margin: 5px;
  border-radius: 5px;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 5px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.username {
  color: brown;
  font-weight: bold;
  font-size: 1.5rem;
}
