.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: inherit;
}
.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 400px;
  background-color: bisque;
  margin: 5px;
  border-radius: 5px;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 10px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.githubLink {
  text-decoration: none;
  color: rgb(146, 13, 13);
  font-weight: bolder;
  font-size: 1.25rem;
  margin-top: 5px;
  align-self: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px;
  width: auto;
  margin: 10px;
}

.userInfo li {
  list-style: none;
}

.userInfo li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-left: 10px;
}

.userInfo li span {
  margin-left: 10px;
}
