.header {
  display: flex;
  font-size: 1.25rem;
  width: 95vw;
  align-items: flex-end;
  height: 10vh;
  margin-bottom: 2vh;
}

.themeButtonLight {
  font-size: 5vh;
  height: inherit;
  margin-left: auto;
  height: 10vh;
  background-color: white;
  background-position: center;
  border: none;
  cursor: pointer;
}

.themeButtonDark {
  font-size: 5vh;
  height: inherit;
  margin-left: auto;
  height: 10vh;
  background-color: white;
  background-position: center;
  border: none;
  cursor: pointer;
  display: none;
}
