.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 95vw;
}

button {
  border: none;
  background-color: white;
  height: inherit;
  font-weight: bold;
  font-size: 1rem;
}
